@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";


:root {
    --color-black: #111116;
    --color-black2: #0B0A0D;
    --color-card: #131217;
    --color-grey: #d9d0de;
    --color-lavander: #fceff9;
    --color-green: #50fa7b;
    --color-purple: #7159c1;
    --span-launch: #fd951f;
    --span-starter: #7159c1;
    --span-stack: #04d361;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {    
    background: var(--color-black2);
    font-family: 'Roboto', sans-serif;
    color: var(--color-lavander);
}
header {
    padding: 30px;
    background: var(--color-black);
    font-weight: 500;
}
#menu {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.logo {
    text-align: right;
    margin: 0 15px;
}
.links {
    text-align: left; 
} 
.links a {
    color: var(--color-grey);
    margin: 0 30px;
    text-decoration: none;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
 }
.links a:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 51%;
    right: 51%;
    bottom: -7px;
    color: white;
    background: var(--color-green);
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.links a:hover:before, 
.links a:focus:before, 
.links a:active:before {
    left: 0;
    right: 0;
 }
.links a:hover {
    color: var(--color-lavander);
    transition: color 350ms;
}
#main {
    text-align: center;
    padding: 32px 0 15px;
    max-width: 800px;
    margin: auto;
}
#main img {
    max-width: 220px;
    height: auto;
    opacity: 0.87;    
    border-radius: 50%;
    border: 3px solid var(--color-green);
    margin: 0 0 20px;
}
#main h1 {
    color: var(--color-rocket);
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;   
}
#main h2 {
    color: var(--color-purple);
    font-size: 36px;
    line-height: 48px;
}
#main p {
    color: var(--color-p1);
    font-size: 18px;
    line-height: 32px;
}
#tech {
    text-align: center;
    padding: 32px;
    max-width: 800px;
    margin: auto; 
}
#tech ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#tech img {
    width: 75px;
    height: auto;
    border-radius: 50%;
}
/* === FOOTER === */
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
.footer {
    background-color: var(--color-black);
    text-align: center;
    font-weight: 500;
    padding: 30px;
    bottom: 0;
}
.footer i {
    font-size: 34px;
}
/* links footer */
.footer a {
    margin: 0 30px;
    color: var(--color-grey);
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.footer a:hover, 
.footer a:focus, 
.footer a:active  {
    color: var(--color-green);
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
}